# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
.gradle
subproject1/build
subproject2/build
gradle-multiproject.iml
subproject2/subproject2.iml
subproject1/subproject1.iml
