#When setting lombok.addLombokGeneratedAnnotation = true the coverage generated
#by such unit tests will not be taken into account. But anyway, when setting
#lombok.addLombokGeneratedAnnotation = false the coverage relates to lines that
# do not exist in the source codes so the results are not any better.
lombok.addLombokGeneratedAnnotation = true